.thumbnail {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
} 
@media (min-width: 1200px) {
  .thumbnail {
    width: 254px;
    height: 170px;
  }
}

.popup-content {
  width: 700px;
  height: 460px;
  border-radius: 16px;
}
@media screen and (min-width:300px) and (max-width:700px) {
  .popup-content {
    width:400px;
    height: 460px;
    border-radius: 16px;
  }
}
@media screen and (min-width:700px) and (max-width:1000px) {
  .popup-content {
    width:600px;
    height: 460px;
    border-radius: 16px;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  background-color: white;
  width: 28px;
  height: 28px;
  border: none;
  margin-top: 18px;
  margin-right: 18px;
  outline: none;
  cursor: pointer;
}

.movie-player-container {
  margin-top: 12px;
  margin-left: 48px;
  margin-bottom: 48px;
  margin-right: 48px;
}
